[General]
checkForUpdates=false
contrastOpacity=188
copyPathAfterSave=true
disabledTrayIcon=true
savePath={{ user_home }}/downloads
showDesktopNotification=false
filenamePattern=screenshot_%F_%T
showHelp=false
showStartupLaunchMessage=false
startupLaunch=false
uploadWithoutConfirmation=true
