" Use vim-plug to install plugins
{% if 'plugins' in vim %}
call plug#begin('~/.local/share/nvim/site/plugins')
{% for plugin in vim.plugins %}
  Plug '{{ plugin.name }}'{% if 'args' in plugin %}, {{ plugin.args }}{% endif %}

{% endfor %}
call plug#end()
{% endif %}
