[{{ ff_install.stdout }}]
Default={{ ff_profile_names.stdout_lines | select('match', '.*home') | join("") }}
Locked=1

{% for profile in ff_profile_names.stdout_lines | reject('search', 'default') | list | sort %}
{% if 'default' not in profile %}
[Profile{{ loop.index0 }}]
Name={{ profile | split('.') | list | last }}
Path={{ profile }}
IsRelative=1
{% if profile.endswith('home') %}
Default=1
{% endif %}

{% endif %}
{% endfor %}
[General]
Version=2
