// Custom about:config options
{% for key, value in firefox.about_config.items() %}
user_pref("{{ key }}", {% if value is string %}"{% endif %}{{ value|lower }}{% if value is string %}"{% endif %});
{% endfor %}
