host_type = octoprint
preset_name = Original Prusa i3 MK3S & MK3S+
preset_names = "Original Prusa i3 MK3S & MK3S+"
print_host = {{ prusa_slicer.octoprint_host }}
printer_technology = FFF
printhost_apikey = {{ prusa_slicer.octoprint_apikey }}
printhost_authorization_type = key
printhost_cafile =
printhost_password =
printhost_port =
printhost_ssl_ignore_revoke = 0
printhost_user =
