{% if item.value.type in ['nfs', 'cifs'] %}
  {% set wanted = 'remote-fs' %}
{% else %}
  {% set wanted = 'local-fs' %}
{% endif %}
[Unit]
Description={{ item.key }}

[Mount]
What={{ item.value.src }}
Where={{ item.value.dest }}
Type={{ item.value.type }}
{% if 'options' in item %}
Options={{ item.value.options }}
{% endif %}

[Install]
WantedBy={{ wanted }}.target
