# i3 config file (v4)

##########################
# Theme/Look
##########################

# Define Colours
set $bg #393939
set $fg #E8E9CA
set $hi #D75F00
set $ac #42A5F5
set $tx #E8E9CA
set $ia #2D303B
set $be #4A708B
set $yw #EEE685
set $gn #0EF318
set $rd #8BBAE0

# Item                  Border  Bckground  Text  Indicator
client.focused          $ac     $ac        $tx   $rd
client.unfocused        $bg     $bg        $ia
client.focused_inactive $bg     $bg        $ac
client.urgent           $rd     $rd        $tx

# Font
font pango:Hack Regular Nerd Font Complete Mono 8

# Borders
default_border pixel 2
default_floating_border pixel 2

##########################
# i3 options
##########################

# Set workspaces to monitors
{% for monitor, opts in monitors.items()%}
{%  for ws in opts.workspaces %}
workspace {{ ws }} output {{ monitor }}
{% endfor %}
{% endfor %}

# Don't Steal Focus
focus_on_window_activation urgent

# Switch Workspaces Back and Forth
workspace_auto_back_and_forth yes

##########################
# i3 Binds
##########################

# Modkey
set $mod Mod4

# Kill Focused Window
bindsym $mod+Shift+q kill

# Window Navigation
bindsym $mod+Left focus left
bindsym $mod+Down focus down
bindsym $mod+Up focus up
bindsym $mod+Right focus right

# Window Movement
bindsym $mod+Shift+Left move left
bindsym $mod+Shift+Down move down
bindsym $mod+Shift+Up move up
bindsym $mod+Shift+Right move right

# Splits
bindsym $mod+h split h
bindsym $mod+v split v

# Fullscreen
bindsym $mod+f fullscreen

# Container Layout
bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

# Toggle Floating
bindsym $mod+space floating toggle

# Workspace Switching
bindsym $mod+1 workspace 1
bindsym $mod+2 workspace 2
bindsym $mod+3 workspace 3
bindsym $mod+4 workspace 4
bindsym $mod+5 workspace 5
bindsym $mod+6 workspace 6
bindsym $mod+7 workspace 7
bindsym $mod+8 workspace 8
bindsym $mod+9 workspace 9
bindsym $mod+0 workspace 10

# Workspace Movement
bindsym $mod+Shift+1 move container to workspace 1
bindsym $mod+Shift+2 move container to workspace 2
bindsym $mod+Shift+3 move container to workspace 3
bindsym $mod+Shift+4 move container to workspace 4
bindsym $mod+Shift+5 move container to workspace 5
bindsym $mod+Shift+6 move container to workspace 6
bindsym $mod+Shift+7 move container to workspace 7
bindsym $mod+Shift+8 move container to workspace 8
bindsym $mod+Shift+9 move container to workspace 9
bindsym $mod+Shift+0 move container to workspace 10

# Reload Config File/Restart i3
bindsym $mod+Shift+c reload
bindsym $mod+Shift+r restart

# Resize Windows
bindsym $mod+r mode "resize"

# Exit Nagbar
bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"

##########################
# Modes
##########################

# Resize Windows
mode "resize" {
        # These bindings trigger as soon as you enter the resize mode
        bindsym Left resize shrink width 1 px or 1 ppt
        bindsym Down resize grow height 1 px or 1 ppt
        bindsym Up resize shrink height 1 px or 1 ppt
        bindsym Right resize grow width 1 px or 1 ppt

        # back to normal: Enter or Escape
        bindsym Return mode "default"
        bindsym Escape mode "default"
}

##########################
# Window Fixes
##########################

for_window [window_role="pop-up"] floating enable
for_window [window_role="task_dialog"] floating enable
for_window [class=.*] border pixel 2
for_window [class="scratch"] move to scratchpad
for_window [class="Pavucontrol"] floating enable
for_window [class="Wicd-client.py"] floating enable
for_window [class="Lxappearance"] floating enable
for_window [title="Microsoft Teams Notification"] floating enable
for_window [class="Piper"] floating enable
for_window [class="MediaElch" title="Settings"] floating enable, border normal
for_window [class="MediaElch" title="Search Result"] floating enable, border normal
for_window [class="MediaElch" title="Choose an Image"] floating enable, border normal
for_window [instance="origin.exe"] floating enable
for_window [instance="^Dungeondraft$"] floating disable, border normal
for_window [title="^Origin$"] floating enable, fullscreen disable
for_window [instance="^Steam$" title="^Steam - Self Updater$"] floating enable, resize set 500 750

##########################
# Send Programs to Workspace
##########################

assign [instance="^Steam$" title="Steam$"] 3
assign [instance="^Steam$" title="Friends List.*"] 6
assign [instance="^Steam$" title="Chat$"] 6
assign [instance="^Steam$" title="^Steam - Self Updater$"] 6
assign [instance="^Slack$"] 6
assign [instance="^discord$"] 6
assign [instance="^Deadbeef$"] 10

##########################
# Custom Bindings
##########################

# Terminal
bindsym $mod+Return  exec i3-sensible-terminal

# Local
bindsym mod1+ctrl+l  exec lock nochecks

# Disable Autolock
bindsym $mod+shift+l exec xautolock -toggle

# File Browser
bindsym $mod+shift+f exec thunar

# Screenshots
bindsym Print        exec flameshot full -c
bindsym $mod+Print   exec flameshot gui
bindsym $mod+shift+Print   exec peek

# Launcher
bindsym $mod+d exec rofi -show drun -show-icons -drun-match-fields name -matching regex -drun-display-format {name}

# Firefox Work Profile
bindsym $mod+ctrl+f exec firefox --profile "work"

# MPV
bindsym $mod+shift+m exec mpv --loop=inf --mute=yes --player-operation-mode=pseudo-gui --ytdl-raw-options=cookies-from-browser=firefox

# Media keys
bindsym $mod+F7  exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ -5%
bindsym $mod+F8  exec --no-startup-id pactl set-sink-volume @DEFAULT_SINK@ +5%
bindsym $mod+F9  exec --no-startup-id pactl set-sink-mute @DEFAULT_SINK@ toggle
bindsym $mod+F12 exec --no-startup-id /usr/bin/playerctl play-pause
bindsym $mod+F11 exec --no-startup-id /usr/bin/playerctl next
bindsym $mod+F10 exec --no-startup-id /usr/bin/playerctl previous

##########################
# Startup
##########################

# Set Background Colour
exec        --no-startup-id xsetroot -solid "36393f"
exec_always --no-startup-id ~/.config/polybar/launch.sh

# Notifications
exec_always --no-startup-id killall dunst; sleep 1; dunst # Recover dunst after locking

# Locking
exec        --no-startup-id xset s 300 300 # set screen blanking to 5m
exec        --no-startup-id xautolock -detectsleep -time 2 -locker "~/bin/lock checks"
exec        --no-startup-id xss-lock -l -- ~/bin/lock nochecks

# KDE Connect
exec        --no-startup-id kdeconnect-indicator

# Compositor
exec        --no-startup-id picom

# Monitors
exec        --no-startup-id ~/bin/monitors
