#!/usr/bin/env bash
# Xsetup - run as root before the login dialog appears

{% for monitor, options in monitors.items() %}
xrandr --output {{ monitor }} \
{% for k, v in options.options.items() %}
       --{{ k }}{% if v|string | length > 0 %} {{ v }}{% endif %}{% if not loop.last %} \{% endif %}

{% endfor %}
{% endfor %}
