#!/bin/sh
[ -f /etc/xprofile ] && . /etc/xprofile
[ -f ~/.config/X11/Xresources ] && xrdb -merge -I$HOME ~/.config/X11/Xresources
setxkbmap -layout gb -option 'caps:none'
xset m 0/1 4
xset s 300 300
{% for k, v in desktop_envars.items() %}
export {{ k }}={{ v }}
{% endfor %}
