#!/usr/bin/env bash
# Xsetup - run as root before the login dialog appears
{% for monitor, options in monitors.items() %}
{# If we're not the primary monitor turn off the display #}
{% if 'primary' not in options %}
{# Work around Ansible not having jinja2.ext.do #}
{% set _ = options.options.update({"off": ""}) %}
{% endif %}

xrandr --output {{ monitor }} \
{% for k, v in options.options.items() %}
       --{{ k }}{% if v|string | length > 0 %} {{ v }}{% endif %}{% if not loop.last %} \{% endif %}

{% endfor %}
{% endfor %}
