#!/usr/bin/env bash
set -euo pipefail
IFS=$'\n\t'

#### Bandcamp downloader
# Wrapper script for https://framagit.org/Ezwen/bandcamp-collection-downloader
# Downloads all releases in you bandcamp collection to $BC_DEST
#
# Automatically installs/upgrades bandcamp-collection-downloader.jar
# Tracks already downloaded releases with ${BC_DEST}/bandcamp-collection-downloader.cache

# Config variables, set via ENVARS
BC_DEST="${BC_DEST:-{{ bandcamp.dest }}}"
BC_BIN="/usr/share/java/bandcamp-collection-downloader.jar"
BC_USERNAME="${USERNAME:-{{ bandcamp.user }}}"
BC_FORMAT="${FORMAT:-{{ bandcamp.format }}}"

run_downloader() {
    mkdir -p "${BC_DEST}"

    java -jar "${BC_BIN}" \
        --download-folder "${BC_DEST}" \
        --audio-format "${BC_FORMAT}" \
        "${BC_USERNAME}"
}

main() {
    run_downloader
}

main
