# {{ ansible_managed }}
# /etc/pacman.conf
#
# See the pacman.conf(5) manpage for option and repository directives

{% for section, values in pacman.config.items() %}
[{{ section }}]
{% for k, v in values.items() %}
{{ k }}{% if v | length > 0 %} = {{ v }}{% endif %}

{% endfor %}

{% endfor %}
