[user]
  name = {{ user.fullname }}
  email = {{ user.email }}
  signingkey = "{{ user.gpg }}"

[init]
  defaultBranch = main

[core]
  editor = /usr/local/bin/vi

[merge]
  ff = only

[push]
  default = simple
  followTags = true

[rebase]
  autostash = true

[status]
  showUntrackedFiles = all

[transfer]
  fsckobjects = true

[credential]
  helper = cache --timeout=28800

[fetch]
  prune = true

[commit]
  gpgsign = true

[gpg]
  program = gpg

[alias]
  # Cleanup merged branches
  brd = "!sh -c 'git branch --merged | \
    grep -Ev \"(^\\*|main|master|dev)\" | \
    xargs git branch -d'"
  # Rebase non-interactively against [origin|upstream]/[master|main|dev]
  rum = "!sh -c '\
      branch=$(git branch -v | cut -d \" \" -f 2 | grep -Eo \"(main|master|dev)\"); \
      if git remote -v | grep -q upstream; then \
        remote=upstream; \
      else \
        remote=origin; \
      fi; \
      git rebase ${remote}/${branch}'"
  # Rebase interactively against [origin|upstream]/[master|main|dev]
  rim = "!sh -c '\
      branch=$(git branch -v | cut -d \" \" -f 2 | grep -Eo \"(main|master|dev)\"); \
      if git remote -v | grep -q upstream; then \
        remote=upstream; \
      else \
        remote=origin; \
      fi; \
      git rebase --interactive ${remote}/${branch}'"
  # Show differing commits from [origin|upstream]/[master|main|dev]
  # as `* commit message`. Good for PR comments.
  sum = "!sh -c '\
      branch=$(git branch -v | cut -d \" \" -f 2 | grep -Eo \"(main|master|dev)\"); \
      if git remote -v | grep -q upstream; then \
        remote=upstream; \
      else \
        remote=origin; \
      fi; \
      git log ${remote}/${branch}..HEAD --pretty=format:\"* %s\" --reverse;'"
  # Make a temp commit prefixed with `sss` to remind me to squash
  sss = !sh -c 'git commit -m \"sss $@\"' -
  # Short commands
  f = fetch --all
  co = checkout
  br = branch
  st = status
  cp = cherry-pick
  # Undo stuff
  unadd = reset HEAD
  uncommit = reset HEAD~
  # Logging
  logs = log --show-signature
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[includeIf "gitdir:~/git/smart/"]
  path = ~/.config/git/config-work

